In [3]:
import pandas as pd

import numpy as np

import os

import re

In [4]:
initial_workbook = 'all_data_updated_IDs_Amounts.csv'
info_workbook = 'Active DF.csv'

df_initial = pd.read_csv(initial_workbook)
df_info = pd.read_csv(info_workbook)

print(df_initial.columns)
print(df_info.columns)

Index(['Bill To:', 'ID', 'Totals', 'Remittance Address:', 'IDs', 'Amounts'], dtype='object')
Index(['Type', 'PI', 'IDs'], dtype='object')

In [5]:
df_3 = pd.merge(df_initial, df_info[['IDs','PI','Type']], on='IDs', how='left')
print(df_3)

            Bill To:                      ID  Totals Remittance Address:  \
0       09/15/2019 -  Total for 000000000100   13.45
1                     Total for 000000000101   13.45
2                     Total for 000000000102   13.45
3                     Total for 000000000103   13.45
4                     Total for 000000000104   13.45
...              ...                     ...     ...                 ...
583381                Total for 881651477580    8.23
583382                Total for 881651477580    8.23
583383                Total for 881651477580    8.23
583384                Total for 881651477580    8.23
583385                Total for 881651477580    8.23

                 IDs  Amounts        PI              Type
0       1.000000e+02    13.45    Sutton  SHORT BURST DATA
1       1.010000e+02    13.45  McPhaden  SHORT BURST DATA
2       1.020000e+02    13.45  McPhaden  SHORT BURST DATA
3       1.030000e+02    13.45  McPhaden  SHORT BURST DATA
4       1.040000e+02    13.45  McPhaden  SHORT BURST DATA
...              ...      ...       ...               ...
583381  8.816510e+11     8.23    Cronin            RUDICS
583382  8.816510e+11     8.23    Cronin            RUDICS
583383  8.816510e+11     8.23     Dziak            RUDICS
583384  8.816510e+11     8.23  McPhaden        Non-RUDICS
583385  8.816510e+11     8.23     Dziak        Non-RUDICS

[583386 rows x 8 columns]

In [6]:
df_3

,Bill To:,ID,Totals,Remittance Address:,IDs,Amounts,PI,Type
0,09/15/2019 -,Total for 000000000100,13.45,,1.000000e+02,13.45,Sutton,SHORT BURST DATA
1,,Total for 000000000101,13.45,,1.010000e+02,13.45,McPhaden,SHORT BURST DATA
2,,Total for 000000000102,13.45,,1.020000e+02,13.45,McPhaden,SHORT BURST DATA
3,,Total for 000000000103,13.45,,1.030000e+02,13.45,McPhaden,SHORT BURST DATA
4,,Total for 000000000104,13.45,,1.040000e+02,13.45,McPhaden,SHORT BURST DATA
...,...,...,...,...,...,...,...,...
583381,,Total for 881651477580,8.23,,8.816510e+11,8.23,Cronin,RUDICS
583382,,Total for 881651477580,8.23,,8.816510e+11,8.23,Cronin,RUDICS
583383,,Total for 881651477580,8.23,,8.816510e+11,8.23,Dziak,RUDICS
583384,,Total for 881651477580,8.23,,8.816510e+11,8.23,McPhaden,Non-RUDICS
583385,,Total for 881651477580,8.23,,8.816510e+11,8.23,Dziak,Non-RUDICS

In [7]:
df_3.to_csv('Active_DF_IDs_Amounts_Merged_Success.csv', index=False)